body{
    color: black;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

div{
    text-align: center;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.two-column div{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

 /*RIPETIZIONE VEDI COME SISTEMARE*/
.one-column div{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    margin-top: 6px;
    margin-bottom: 6px;
}

.two-column div::after {
    content: "";
    display: block;
    padding-top: 90%;
}

.one-column div::after{
    content: "";
    display: block;
    padding-top: 40%;
}

div.two-column:first-child div{
    margin-left: 12px;
}

div.two-column:last-child div{
    margin-right: 12px;
}

div.row:first-child div[class*="column"] div{
    margin-top: 12px;
}

div.row:last-child div[class*="column"] div{
    margin-bottom: 12px;
}

.iPad{
    background-color: #F5F5F5;
    background-image: url("images/ipad_large.jpg");
}

.watch{
    background-color: #EEEEEE;
    background-image: url("images/watch_series_3_large.jpg");
}

.macbook{
    background-color: #FAFAFA;
    background-image: url("images/macbook_pro_large.jpg");
}

.airpods{
    background-color: #FAFAFA;
    background-image: url("images/airpods_large.jpg");
}

.iPhone{
    background-color: #498393;
    background-image: url("images/iphone_switch_large.png");
    color: white;
}

img{
    margin-bottom: 7px;
}








