.settings-text{
    color: black;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.apple-grid{
    text-align: center;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.two-column > div{
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
    min-height: 100%;
}

.one-column div{
    margin-bottom: 12px;
}

div.two-column:nth-child(odd) div{
    margin-left: 12px;
}

div.two-column:nth-child(even) div{
    margin-right: 12px;
}

div.row:first-child div[class*="column"] div{
    margin-top: 12px;
}

.color-light-grey{
    background-color: #F5F5F5;
}

.color-grey{
    background-color: #EEEEEE;
}

.color-cream{
    background-color: #FAFAFA;
}

.color-blue{
    background: linear-gradient(to bottom, #498393 0%, #498393 10%, #98d8e8 100%);
}

.text-white{
    color: white;
}

.image-column-background{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.image-column-background::after{
    content: "";
    display: block;
    padding-top: 90%;
}

.one-column .image-column-background::after{
    padding-top: 40%;
}

.iPad .image-column-background{
    background-image: url("images/ipad_large.jpg");
}

.watch .image-column-background{
    background-image: url("images/watch_series_3_large.jpg");
}

.macbook .image-column-background{
    background-image: url("images/macbook_pro_large.jpg");
}

.airpods .image-column-background{
    background-image: url("images/airpods_large.jpg");
}

.iPhone .image-column-background{
    background-image: url("images/iphone_switch_large.png");
}

.apple-grid img{
    margin-bottom: 8px;
    padding-top: 30px;
}

.apple-grid h1{
    font-size: 40px;
    padding-top: 30px;
}

.apple-grid h5{
    font-size: 21px;
    padding-top: 4px;
    width: 100%;
}

@media screen and (max-width: 768px){
    div.two-column:nth-child(odd) div,
    div.two-column:nth-child(even) div {
        margin-right: 0;
        margin-left: 0;
    }

    .apple-grid h1{
        font-size: 32px;
        padding-top: 22px;
    }

    .apple-grid h5{
        font-size: 19px;
        padding-top: 3px;
    }

    .iPad h5{
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .apple-grid img{
        padding-top: 22px;
    }
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}